<!DOCTYPE HTML>
<html>

<head>
    <title>Networks</title>

    <!-- Static assets -->
    <script type="text/javascript" src="./../static/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="./../static/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="./../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">

    <!-- socket IO -->
    <script type="text/javascript" charset="utf-8">

        // once the document is ready, execute the following
        $(document).ready(function () {

            // ==================================  Establish Connecton =========================================

            // create a socket with localhost and port 5000
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // initializing connecting to Server
            socket.on('connect', function () {
                // make entry in Receiver logs
                message = 'Hi Sender!';
                $('#ReceiverLogs').append('<br>' + $('<div/>').text(message).html());
                // let server connect complete the connection
            });

            // received reply from server - Connection ready
            socket.on('complete_connection', function (message) {
                $('#SenderLogs').append('<br>' + $('<div/>').text(message.data).html());
                // socket.emit('disconnect');
            })

            // ===================================== continuous Ping pong ========================================

            // Interval function that tests message latency by sending a "ping" message. 
            // The server then responds with a "pong" message and the round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function () {
                start_time = (new Date).getTime();
                socket.emit('HeyPing');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, 
            // the time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('HeyPong', function () {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++) {
                    sum += ping_pong_times[i];
                }
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });


            // =========================================== Transmission ==========================================

            // Sending data from server to receiver
            $('form#SenderEmit').submit(function (event) {
                message_from_server = $('#SenderEmitData').val();
                $('#SenderLogs').append('<br>' + $('<div/>').text(message_from_server).html());
                socket.emit('SendPacketMiddle', { data: message_from_server });
                return false;
            });

            socket.on('ReceivePacket', function (message_from_server) {
                $('#ReceiverLogs').append('<br>' + $('<div/>').text(message_from_server['data']).html());
                return false;
            })

            socket.on('ReceivePacketMiddle', function (message_from_server) {
                $('#MiddleLogs').append('<br>' + $('<div/>').text(message_from_server['data']).html());
                socket.emit('SendPacket', { data: message_from_server['data'] });
                return false;
            })

            socket.on('disconnecting_confirmation', function (message) {
                $('#SenderLogs').append('<br>' + $('<div/>').text(message['data']).html());
                $('#ReceiverLogs').append('<br>' + $('<div/>').text(message['data']).html());
            })

            $('form#SenderDisconnect').submit(function (event) {
                socket.emit('disconnect_request', { data: 'sender ' });
                $('#SenderDisconnectBtn').attr('disabled', true);
                $('#ReceiverDisconnectBtn').attr('disabled', true);
                $('#SenderEmitDataBtn').attr('disabled', true);
                $("#SenderEmitData").attr("disabled", true);
                return false;
            });

            $('form#ReceiverDisconnect').submit(function (event) {
                socket.emit('disconnect_request', { data: 'receiver ' });
                $('#SenderDisconnectBtn').attr('disabled', true);
                $('#ReceiverDisconnectBtn').attr('disabled', true);
                $('#SenderEmitDataBtn').attr('disabled', true);
                $("#SenderEmitData").attr("disabled", true);
                return false;
            });


            // ===============================================================================================
        });
    </script>
</head>

<body>
    <div class="container">
        <h1>Networks</h1>
        <h2>Stop and Wait Protocol</h2>
        <p>Async mode is:
            <b>{{ async_mode }}</b>
        </p>
        <p>Average ping/pong latency:
            <b>
                <span id="ping-pong"></span>ms</b>
        </p>

        <div class="row">

            <!-- sender -->
            <div class="col-lg-4">
                <h2>Sender </h2>

                <form id="SenderEmit" method="POST" action='#'>
                    <input type="text" name="emit_data" id="SenderEmitData" placeholder="Message">
                    <input type="submit" id="SenderEmitDataBtn" value="Echo">
                </form>

                <form id="SenderDisconnect" method="POST" action="#">
                    <input type="submit" id="SenderDisconnectBtn" value="Disconnect">
                </form>

                <h2>Sender Logs:</h2>
                <div id="SenderLogs"></div>
            </div>

            <!-- Middle layer -->
            <div class="col-lg-4">
                <h2>Transmission Medium </h2>
                <!-- <h2></h2> -->
                <div id="MiddleLogs"></div>
            </div>

            <!-- receiver -->
            <div class="col-lg-4">
                <h2>Receiver </h2>
                <form id="ReceiverDisconnect" method="POST" action="#">
                    <input type="submit" id="ReceiverDisconnectBtn" value="Disconnect">
                </form>
                <h2>Receiver Logs:</h2>
                <div id="ReceiverLogs"></div>
            </div>
        </div>
    </div>
</body>

</html>