<!DOCTYPE HTML>
<html>

<head>
    <title>Networks</title>

    <!-- Static assets -->
    <script type="text/javascript" src="./../static/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="./../static/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="./../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <!-- socket IO -->
    <script type="text/javascript" charset="utf-8">

        // once the document is ready, execute the following
        $(document).ready(function () {

            // ==================================  Establish Connecton =========================================

            // create a socket with localhost and port 5000
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // initializing connecting to Server
            socket.on('connect', function () {
                // make entry in Receiver logs
                message = 'Receiver Alive !'
                $('#ReceiverLogs').append('<br><br>' + $('<div/>').text(message).html());
                disableAllButtons(false);
                message = getCurrentDateTime() + 'Receiver requesting connection. Hi Sender!';
                $('#ReceiverLogs').append('<br><br>' + $('<div/>').text(message).html());
                socket.emit('connectionRequestToMiddleLayerBackend', { data: 'Hi Sender!' });
                // let server connect complete the connection
            });

            socket.on('connectionRequestToMiddleLayerFrontend', function (message) {
                $('#MiddleLayerLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + "Intercepting : " + message['data']).html());
                socket.emit('connectionRequestToSenderBackend', { data: message['data'] });
            })

            // received reply from server - Connection ready
            socket.on('connectionRequestToSenderFrontend', function (message) {
                $('#SenderLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + message['data']).html());
                return false;
            })

            socket.on('connection_failure', function (message) {
                $('#SenderLogs').append('<br><br>' + $('<div/>').text(message.data).html());
                disableAllButtons(true);
                return false;
            })

            socket.on('server_started', function () {
                message = "Server Started !"
                $('#SenderLogs').append('<br><br>' + $('<div/>').text(message).html());
                return false;
            })

            // ===================================== continuous Ping pong ========================================

            // Interval function that tests message latency by sending a "ping" message. 
            // The server then responds with a "pong" message and the round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function () {
                start_time = (new Date).getTime();
                socket.emit('HeyPing');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, 
            // the time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('HeyPong', function () {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++) {
                    sum += ping_pong_times[i];
                }
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // ======================================= Utility functions =================================
            function getDate(date) {
                var monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];
                var date = new Date();
                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                return day + ' ' + monthNames[monthIndex] + ' ' + year;
            }

            function getCurrentDateTime() {
                var d = new Date();
                var currTime = d.getHours() + ':'
                    + d.getMinutes() + ':'
                    + d.getSeconds() + ':'
                    + d.getMilliseconds();

                return "Logging Data On : " + getDate() + " at " + currTime + "  ";
            }

            function disableAllButtons(status) {
                // this can be helpful in sliding window

                $('#SenderDisconnectBtn').attr('disabled', status);
                $('#ReceiverDisconnectBtn').attr('disabled', status);
                $('#senderInputDataBtn').attr('disabled', status);
                $("#senderFrontendData").attr("disabled", status);
                $("#MiddleLayerDisconnectBtn").attr("disabled", status);
            }


            function randomNumberFromRange(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min);
            }


            // =========================================== Transmission events ======================   ===============

            // ================================ Packet originating at Sender Input ================================

            /*
            From : Sender Input Form
            Task : Sender Input form processing
            To   : Sender Backend
            */
            $('form#senderInput').submit(function (event) {
                // sending to sender backend
                var info = $('#senderInputData').val();
                socket.emit('sendPacketToSenderBackend', { data: info });

                // disable buttons until acknowledgement is received of current packet
                disableAllButtons(true);
                return false;
            });


            /*
            From : Sender Backend
            Task : Sender Frontend, append Logs on sender side & start timer for this packet
            To   : Middle Layer Backend
            */
            socket.on('sendPacketToSenderFrontend', function (message) {
                $('#SenderLogs')
                    .append('<br><br>' + $('<div/>')
                        .text(getCurrentDateTime() + "Sending : " + message['data'] + "( Packet #" + message['currentPacket'] + " )")
                        .html());

                // start a time here
                setTimeout(function () {
                    socket.emit('packetTimerBlast',
                        {
                            data: message['data'],
                            currentPacket: message['currentPacket']
                        })
                }, 2000);

                socket.emit('SendPacketToMiddleLayerBackend',
                    { data: message['data'], currentPacket: message['currentPacket'] });
            })


            /*
            From : Middle Layer Backend
            Task : Middle Layer Frontend, append Logs on middle layer & randomly drop packets
            To   : Receiver backend OR Crash Handler
            */
            socket.on('SendPacketToMiddleLayerFrontend', function (message) {

                // random function here. packet lost in transmission -> nothing received
                var randomNumber = randomNumberFromRange(-10, 10);
                if (randomNumber < 0) { // failed
                    $('#MiddleLayerLogs')
                        .append('<br><br>' + $('<div/>')
                            .text(getCurrentDateTime() + "Intercepting : " + message['data'] + '   (XX Crashed XX)').html());
                    socket.emit('PackedCrashedAtMiddleLayer');
                }
                else { // all good
                    $('#MiddleLayerLogs')
                        .append('<br><br>' + $('<div/>').text(getCurrentDateTime() + "Intercepting : " + message['data']).html());
                    socket.emit('sendPacketToReceiverBackend', { data: message['data'] });
                }
                return false;
            })


            /*
            From : Receiver backend
            Task : Receiver Frontend, append Logs at receiver
            To   : Send Acknowledgement to Middle Layer Backend
            */
            socket.on('sendPacketToReceiverFrontend', function (message) {
                $('#ReceiverLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + "Received : " + message['data']).html());

                ackMessage = "Ack for Packet : " + message['data'];
                $('#ReceiverLogs').append('<br>' + $('<div/>').text(getCurrentDateTime() + "Sending : " + ackMessage).html());
                socket.emit('sendAckToMiddleLayerBackend', { data: ackMessage })

                return false;
            })

            /*
            From : Crash Handler
            Task : append failure Logs at receiver
            To   : Nothing, sender will auto timeout
            */
            socket.on('packedNotReceivedByReceiver', function () {
                $('#ReceiverLogs').append('<br><br><br>' + $('<div/>').text('debug log : Message crashed ').html());
                return false;
            })


            /*
            From : Received Ack Middle Layer Backend
            Task : append Ack Logs at Middle layer frontend
            To   : Pass Ack to Sender Backend
            */
            socket.on('sendAckToMiddleLayerFrontend', function (message) {
                $('#MiddleLayerLogs').append('<br>' + $('<div/>').text(getCurrentDateTime() + "Intercepting : " + message['data']).html());
                socket.emit('sendAckToSenderBackend', { data: message['data'] });
            })

            /*
            From : Received Ack from Sender Backend
            Task : append Ack Logs at Sender frontend
            To   : None, one packet journey completed
            */
            socket.on('sendAckToSenderFrontend', function (message_from_server) {
                message = "Received : " + message_from_server['data'];
                $('#SenderLogs').append('<br>' + $('<div/>').text(getCurrentDateTime() + message).html());
                // ack received - re enable the buttons
                disableAllButtons(false);

            })

            /*
            From : Sender Disconnect button
            Task : Disable all buttons
            To   : disconnect request (By sender)
            */
            $('form#SenderDisconnect').submit(function (event) {
                socket.emit('disconnect_request', { data: 'sender ' });
                disableAllButtons(true);
                return false;
            });

            /*
            From : Middle Layer 'Break Transmission' button
            Task : Disable all buttons
            To   : disconnect request (By Middle Layer)
            */
            $('form#MiddleLayerDisconnect').submit(function (event) {
                socket.emit('disconnect_request', { data: 'Middle Layer ' });
                disableAllButtons(true);
                return false;
            });


            /*
            From : Receiver Disconnect button
            Task : Disable all buttons
            To   : disconnect request (By Receiver)
            */
            $('form#ReceiverDisconnect').submit(function (event) {
                socket.emit('disconnect_request', { data: 'receiver ' });
                disableAllButtons(true);
                return false;
            });


            /*
            From : disconnection request backend
            Task : Append disconnection log to Sender, Receiver and Middle Layer
            To   : disconnect ( predefined ) : Terminates socket
            */
            socket.on('disconnecting_confirmation', function (message) {
                $('#SenderLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + message['data']).html());
                $('#MiddleLayerLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + message['data']).html());
                $('#ReceiverLogs').append('<br><br>' + $('<div/>').text(getCurrentDateTime() + message['data']).html());
                socket.emit('disconnect');
            })

            // ===============================================================================================
        });
    </script>
</head>

<body>
    <!-- Page Container -->
    <div class="container">

        <div class="row">
            <!-- Heading row -->
            <div class="col-sm-6">
                <h1 class="text-left">Networks </h1>
            </div>

            <div class="col-sm-6">
                <p class="text-right"> Average ping/pong latency:
                    <span id="ping-pong"></span>ms
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-left">Stop and Wait Protocol</h2>
            </div>
            <div class="col-sm-6">
                <p class="text-right"> ASych Mode: {{ async_mode}}
                </p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>

        <!-- Work Row -->
        <div class="row">
            <!-- sender -->
            <div class="col-sm-4">
                <h2 class="text-left">Sender</h2>
                <div class="row">
                    <!-- Sender send data button -->
                    <form id="senderInput" method="POST" action='#'>
                        <input type="text" style="width: 8em" name="senderInputData" id="senderInputData" placeholder="Message">
                        <input type="submit" id="senderInputDataBtn" value="SEND">
                    </form>
                    <!-- Sender Disconnect button -->
                    <form id="SenderDisconnect" method="POST" action="#">
                        <input type="submit" id="SenderDisconnectBtn" value="Disconnect">
                    </form>
                </div>
                <br>
                <!-- Sender Logs -->
                <div class="row">
                    <h2>Sender Logs</h2>
                    <div class="col-sm-12">
                        <div id="SenderLogs">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Middle layer -->
            <div class="col-sm-4">
                <!-- Middle layer logs - dropped, forwarded -->
                <h2 class="text-left">Medium </h2>
                <div class="row">
                    <!-- Receiver Disconnect button -->
                    <form id="MiddleLayerDisconnect" method="POST" action="#">
                        <input type="submit" id="MiddleLayerDisconnectBtn" value="Break Transmission Medium">
                    </form>
                </div>
                <br>
                <!-- Middle Layer Logs -->
                <div class="row">
                    <h2>Medium Logs</h2>
                    <div class="col-sm-12">
                        <div id="MiddleLayerLogs">
                            <br>
                            <br> Hi, I am the Medium
                        </div>
                    </div>
                </div>
            </div>

            <!-- receiver -->
            <div class="col-sm-4">
                <h2 class="text-left">Receiver </h2>
                <div class="row">
                    <!-- Receiver Disconnect button -->
                    <form id="ReceiverDisconnect" method="POST" action="#">
                        <input type="submit" id="ReceiverDisconnectBtn" value="Disconnect">
                    </form>
                </div>
                <br>
                <!-- Receiver Logs -->
                <div class="row">

                    <h2>Receiver Logs</h2>
                    <div class="col-sm-12">
                        <div id="ReceiverLogs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>